/* start van mijn css */

.ui-radio .ui-btn.ui-radio-on:after {
  background-image: none;
  background-color: #fff;
  width: 8px;
  height: 8px;
  border-width: 5px;
  border-style: solid;
}
.ui-alt-icon.ui-btn.ui-radio-on:after,
.ui-alt-icon .ui-btn.ui-radio-on:after {
  background-color: #000;
}
.ui-width {
  min-width: 50vw !important;
}
.ui-input-search {
  margin: 0;
  width: 30vw;
  float: right;
  height: 4vh;
}
.ui-icon-loading {
  background: url("images/ajax-loader.gif");
  background-size: 2.875em 2.875em;
}
.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
  border-color: #dddddd;
  color: white;
  font-weight: bold;
}
.ui-bar-a {
  border-width: 1px;
  border-style: solid;
}
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
  border-color: #bbbbbb;
}
.ui-body-a,
.ui-page-theme-a .ui-body-inherit,
html .ui-bar-a .ui-body-inherit,
html .ui-body-a .ui-body-inherit,
html body .ui-group-theme-a .ui-body-inherit,
html .ui-panel-page-container-a {
  background-color: #ffffff;
  border-color: #dddddd;
}
.ui-body-a {
  border-width: 1px;
  border-style: solid;
}
.ui-page-theme-a a,
html .ui-bar-a a,
html .ui-body-a a,
html body .ui-group-theme-a a {
  font-weight: bold;
}
.ui-page-theme-a a:visited,
html .ui-bar-a a:visited,
html .ui-body-a a:visited,
html body .ui-group-theme-a a:visited {
  color: #3388cc;
}
.ui-page-theme-a a:hover,
html .ui-bar-a a:hover,
html .ui-body-a a:hover,
html body .ui-group-theme-a a:hover {
  color: #005599;
}
.ui-page-theme-a a:active,
html .ui-bar-a a:active,
html .ui-body-a a:active,
html body .ui-group-theme-a a:active {
  color: #005599;
}
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head + body .ui-btn.ui-btn-a,
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited {
  border-color: #dddddd;
  color: white;
}
.ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html head + body .ui-btn.ui-btn-a:hover {
  background-color: #ededed;
  border-color: #dddddd;
  text-shadow: 0 1px 0 #f3f3f3;
}
.ui-page-theme-a .ui-btn:active,
html .ui-bar-a .ui-btn:active,
html .ui-body-a .ui-btn:active,
html body .ui-group-theme-a .ui-btn:active,
html head + body .ui-btn.ui-btn-a:active {
  background-color: #e8e8e8;
  text-shadow: 0 1px 0 #f3f3f3;
}
.ui-page-theme-a .ui-btn.ui-btn-active,
html .ui-bar-a .ui-btn.ui-btn-active,
html .ui-body-a .ui-btn.ui-btn-active,
html body .ui-group-theme-a .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-a.ui-btn-active,
.ui-page-theme-a .ui-checkbox-on:after,
html .ui-bar-a .ui-checkbox-on:after,
html .ui-body-a .ui-checkbox-on:after,
html body .ui-group-theme-a .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-a:after,
.ui-page-theme-a .ui-flipswitch-active,
html .ui-bar-a .ui-flipswitch-active,
html .ui-body-a .ui-flipswitch-active,
html body .ui-group-theme-a .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,
.ui-page-theme-a .ui-slider-track .ui-btn-active,
html .ui-bar-a .ui-slider-track .ui-btn-active,
html .ui-body-a .ui-slider-track .ui-btn-active,
html body .ui-group-theme-a .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-a .ui-btn-active {
  background-color: #3388cc;
  border-color: #3388cc;
  color: #ffffff;
  text-shadow: 0 1px 0 #005599;
}
.ui-page-theme-a .ui-radio-on:after,
html .ui-bar-a .ui-radio-on:after,
html .ui-body-a .ui-radio-on:after,
html body .ui-group-theme-a .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-a:after {
  border-color: #3388cc;
}
.ui-page-theme-a .ui-btn:focus,
html .ui-bar-a .ui-btn:focus,
html .ui-body-a .ui-btn:focus,
html body .ui-group-theme-a .ui-btn:focus,
html head + body .ui-btn.ui-btn-a:focus,
.ui-page-theme-a .ui-focus,
html .ui-bar-a .ui-focus,
html .ui-body-a .ui-focus,
html body .ui-group-theme-a .ui-focus,
html head + body .ui-btn-a.ui-focus,
html head + body .ui-body-a.ui-focus {
  -webkit-box-shadow: 0 0 12px #3388cc;
  -moz-box-shadow: 0 0 12px #3388cc;
  box-shadow: 0 0 12px #3388cc;
}
.ui-disabled,
.ui-state-disabled,
button[disabled],
.ui-select .ui-btn.ui-state-disabled {
  filter: Alpha(Opacity=30);
  opacity: 0.3;
  cursor: default !important;
  pointer-events: none;
}
.ui-btn:focus,
.ui-btn.ui-focus {
  outline: 0;
}
.ui-noboxshadow .ui-shadow,
.ui-noboxshadow .ui-shadow-inset,
.ui-noboxshadow .ui-overlay-shadow,
.ui-noboxshadow .ui-shadow-icon.ui-btn:after,
.ui-noboxshadow .ui-shadow-icon .ui-btn:after,
.ui-noboxshadow .ui-focus,
.ui-noboxshadow .ui-btn:focus,
.ui-noboxshadow input:focus,
.ui-noboxshadow .ui-panel {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.ui-noboxshadow .ui-btn:focus,
.ui-noboxshadow .ui-focus {
  outline-width: 1px;
  outline-style: auto;
}
.ui-btn-login {
  display: block;
  width: 30% !important;
  margin: 0;
  padding: 10;
  color: white;
  background-color: #15007c;
}
.ui-footer .ui-btn-half {
  display: block;
  width: 44vw;
  margin: 0;
  margin-left: 1.1vw;
  padding: 1vh;
  float: left;
  font-size: 17px;
}
.ui-header {
  font-size: 20px;
  padding: 0;
  background-color: #006e2e;
}
.ui-title {
  margin-bottom: 0%;
  margin-top: 0;
  margin-left: 38% !important;
  width: 20vw;
}
.ui-header .ui-title,
.ui-footer .ui-title {
  padding: 1vw;
}
.ui-checkbox input,
.ui-radio input {
  left: 0.646em;
}
.ui-blue {
  background-color: #15007c;
}
.ui-green {
  background-color: #006e2e;
}
.ui-rad {
  width: 25vw;
  position: relative;
  background-color: #15007c;
}
.ui-plus {
  height: 40vw;
  width: 40vw;
  margin: 2vw;
  float: left;
}
.ui-content {
  padding-top: 0;
  padding-left: 1em;
}
.ui-table tr:nth-child(even) {
  background: #e6e6e6;
}
.ui-radio-pop {
  color: black !important;
  margin-top: 50vh;
}
.ui-center {
  margin-left: 3vw;
}
.ui-popup-screen {
  background-color: black;
}
.ui-table-reflow.ui-responsive td,
.ui-table-reflow.ui-responsive th {
  width: 30vw;
  min-width: 25vw;
  clear: none;
}
.ui-icon-delete:after {
  background-image: url("images/icons-png/delete-white.png");
}
.ui-mobile,
.ui-mobile body {
  height: auto;
}
.ui-header,
.ui-footer {
  border-width: 0;
}
.ui-fixed-hidden {
  position: fixed;
}
.ui-icon-search:after {
  background-image: url("images/icons-png/search-black.png");
}
#searchcontainer {
  width: 50vw;
  float: right;
  height: 1vh;
}
#head {
  margin: 2vw;
  margin-left: 8vw;
}
.ui-mobile label,
div.ui-controlgroup-label {
  font-size: 16px;
}
.ui-resize {
  height: 70vh;
}
.visability {
  padding: 0;
  margin: 1em;
}
